# ==========================================
# 编译产物与临时文件（绝对不要上传）
# ==========================================
build/
.cache/
bin/
obj/

# ==========================================
# 外部依赖库（推荐让用户自行下载，不纳入Git）
# ==========================================
deps/

# ==========================================
# IDE / 编辑器生成的私有配置文件
# ==========================================
# Visual Studio 临时及配置文件
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters

# VS Code 配置文件
.vscode/

# CLion / JetBrains 配置文件
.idea/
cmake-build-debug/
cmake-build-release/

# ==========================================
# 操作系统临时文件
# ==========================================
Thumbs.db
.DS_Store

x64/
X64/
# 拦截任何嵌套目录下的 x64 编译输出文件夹
**/x64/
**/X64/

# 过滤所有可执行文件与链接库
*.exe
*.dll
*.pdb
*.lib